html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.site-footer {
  background: transparent;
  color: #2c1b12; 
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(#d9b892);
}

.footer-bar {
  background: #6b4226;
  color: #fff;
  text-align: center;
  padding: 0.5rem 1rem;
}